################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ClinicaPrivada/FileContentIndex/0c05a7e2-5ecc-4503-8c69-080529ab909d.vsidx
/.vs/ClinicaPrivada/FileContentIndex/1343e2a5-f68a-43ca-aecc-f9f927b08f60.vsidx
/.vs/ClinicaPrivada/FileContentIndex/485fdce8-da87-4319-ac21-6c3353aea835.vsidx
/.vs/ClinicaPrivada/FileContentIndex/5ea2fab8-5477-4508-aa01-bca723363d29.vsidx
/.vs/ClinicaPrivada/FileContentIndex/67feb5ae-bd0f-4a85-b2a4-1ea5f75b21de.vsidx
/.vs/ClinicaPrivada/FileContentIndex/842f1bcc-475e-471f-bce1-b79c1aa49f48.vsidx
/.vs/ClinicaPrivada/FileContentIndex/d6cfb9ef-d28e-4a0b-bd3a-209497c250c6.vsidx
/.vs/ClinicaPrivada/FileContentIndex/e89e0aba-7161-4769-ada3-1ee608af8245.vsidx
/.vs/ClinicaPrivada/FileContentIndex/f53ad56b-5920-4b4c-a25a-a03acf1cfa44.vsidx
